body {
   height: 60vh;
   width: 95vw;
}

.extension {
   border: 0;
   height: auto;
   width: auto;
   font-family: fantasy;
   margin: 0;
   padding: 20px;
   border: 2px solid rgb(136, 29, 224);
   border-radius: 5px;
   background: linear-gradient(blue, green, orange);
   background: url(https://th.bing.com/th?id=OIP.lSRCv7OeYWihD9DFvkIHawHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&dpr=3.8&pid=3.1&rm=2);
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr;
   grid-template-areas:
      ". input1 ."
      ". button ."
      ". input2 ."
      "lien lien lien";
   gap: 10px;

}

#inputTranslate {
   grid-area: input1;
   border: 3px solid rgb(136, 29, 224);
   border-radius: 10px;
   box-shadow: 8px 6px 2px 3px rgb(13 13 13 / 25%)
   
}



#buttonTranslate {
   grid-area: button;
   background-color: rgb(124, 209, 240);
   border-radius: 20px;
   cursor: pointer;
   box-shadow: 8px 6px 2px 3px rgb(13 13 13 / 25%);
   width: 90%;
   justify-self: center;
   height: 30px;
}

#buttonTranslate:hover,
#googleTranslate:hover {
   background: gray;
   color: aliceblue;
}

#translatedText {
   grid-area: input2;
   border: 3px solid rgb(136, 29, 224);
   border-radius: 10px;
   box-shadow: 8px 6px 2px 3px rgb(13 13 13 / 25%)
   
}

#googleTranslate {
   grid-area: lien;
   border: 3px solid rgb(7, 2, 11);
   border-radius: 20px;
   cursor: pointer;
   background-color: rgb(124, 209, 240);
   box-shadow: 8px 6px 2px 3px rgb(13 13 13 / 25%)
}