dialog {
   min-width: 70vw;
   max-width: 95vw;
   max-height: 95vh;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: rgb(202, 215, 234);
   z-index: 9999;
   overflow-y: auto;
   border: 2px solid black;
}
.paragraphe{
   color: black;
   
}

.buttonClose{
   border:2px solid black;
   color:black;
   border-radius: 15px;
   cursor: pointer;
}
.buttonClose:hover{
   background-color: rgb(27, 27, 225);
}
 
 @keyframes vanishIn {
   0% {
     opacity: 0;
     transform-origin: 50% 50%;
     transform: scale(2, 2);
     filter: blur(90px);
   }
   100% {
     opacity: 1;
     transform-origin: 50% 50%;
     transform: scale(1, 1);
     filter: blur(0px);
   }
 }

 dialog[open]{
   animation-name: vanishIn;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 